<!-- BEGIN GLOBAL MANDATORY STYLES -->

<link href="__PUBLIC__/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

<link href="__PUBLIC__/admin/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

<link href="__PUBLIC__/admin/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

<link href="__PUBLIC__/admin/css/style-metro.css" rel="stylesheet" type="text/css"/>

<link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css"/>

<link href="__PUBLIC__/admin/css/style-responsive.css" rel="stylesheet" type="text/css"/>

<link href="__PUBLIC__/admin/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

<link href="__PUBLIC__/admin/css/uniform.default.css" rel="stylesheet" type="text/css"/>

<!-- END GLOBAL MANDATORY STYLES -->

<!-- BEGIN PAGE LEVEL STYLES -->

<link href="__PUBLIC__/admin/css/jquery.gritter.css" rel="stylesheet" type="text/css"/>

<link href="__PUBLIC__/admin/css/daterangepicker.css" rel="stylesheet" type="text/css" />

<link href="__PUBLIC__/admin/css/fullcalendar.css" rel="stylesheet" type="text/css"/>

<link href="__PUBLIC__/admin/css/jqvmap.css" rel="stylesheet" type="text/css" __PUBLIC__/admin="screen"/>

<link href="__PUBLIC__/admin/css/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" __PUBLIC__/admin="screen"/>